<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script type="text/javascript"><%- manifest %></script>
    <script type="text/javascript" src="/<%= vendor %>"></script>
    <script type="text/javascript" src="/<%= main %>"></script>
  </body>
</html>
